html, body {
	height: 100%;
}

@font-face {
	font-family: 'Montserrat', sans-serif;
	src: url('Montserrat-Regular.ttf');
}

body {
	text-rendering: optimizeLegibility;
	font-family: 'Montserrat-Regular', 'open-sans', 'proxima-nova-soft';
}

p {
	line-height: 1.7;
	font-size: 1.1rem;
}

h1 {
	font-weight: bold;
	font-size: 1.7rem;
}

h2 {
	font-size: 1.7rem;
	font-weight: bold;
}

h3 {
	font-size: 1.5rem;
	font-weight: bold;
}

.cke_editable {
	background-color: darkgrey;

}

/* Footer */
footer {
	background-color: #f9f9fa;
}

.ul_footer {
	padding-left: 0;
	color: #98a4ae;
}

/* Navbar */
.navbar-light {
	background-color: #FFFFFF;
	max-height: 67px;
}

.img-nav {
	max-height: 51px;
	max-width: 100%;
}

.navbar-collapse {
	background-color: white;
	text-align: center;
}

nav li:last-child {
	background-color: #904EAD;
}

.nav-link {
	padding: 1.2rem;
	font-weight: 700;
	color: #576366;
	height: 67px;
}

/* Home */
.presentation {
	padding-top: 4rem;
	padding-bottom: 4rem;
	margin-top: 4rem;
	background-image: url("../images/clouds.png"),
		linear-gradient(to bottom, #EE9336 0%, #EE8036 100%);
	background-color: #EE9236;
	background-repeat: no-repeat;
	color: white;
	background-clip: border-box;
	background-origin: border-box;
	background-position: right 35% top 15%;
}

.youtube {
	width: 560px;
	height: 349px;
	margin: 0 1rem 1rem 1rem;
}

.logo-logiciel img {
	width: 5rem;
	height: auto;
	justify-content: space-between;
	transition-property: width, height;
	transition-duration: 0.3s;
}

.logo-logiciel img:hover {
	width: 4rem;
	height: auto;
}

.persona {
	padding-top: 3rem;
	padding-bottom: 4rem;
}

.card {
	marging-bottom: 2rem;
}

.card_persona_color {
	background-color: #904EAD;
	padding: 2rem 0 1rem 0;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	min-height: 14rem;
	max-height: 14rem;
	color: white;
	border-radius: .3rem;
}

.card_persona_color:hover {
	transform: translateY(-5px);
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0
		rgba(0, 0, 0, 0.19);
}

a.persona_card_home:link, a.persona_card_home:visited, a.persona_card_home:active
	{
	color: white;
	background-color: transparent;
	text-decoration: none;
	font-weight: bold;
	border: none;
}

a.persona_card_home:hover {
	color: #EE9236;
	background-color: transparent;
	text-decoration: none;
}

.avantages {
	background-image: url("../images/clouds.png"),
		linear-gradient(to bottom, #EE9336 0%, #EE8036 100%);
	background-color: #EE9236;
	background-repeat: no-repeat;
	background-clip: border-box;
	background-origin: border-box;
	background-position: left;
	padding-bottom: 5rem;
	padding-top: 5rem;
	color: white;
}

.logo_partner img {
	width: 6.5rem;
	height: auto;
	justify-content: space-between;
padding-top: 3rem;
padding-bottom: 3rem;
}

.ul_footer>li {
	list-style-type: none;
}

.btn-test {
	white-space: normal;
	transition-duration: 0.2s;
}

a.btn-test:hover {
	color: #EE9236;
	background-color: white;
	transform: translateY(-5px);
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0
		rgba(0, 0, 0, 0.19);
}

/* Contact */
.contact_form {
	padding-bottom: 4rem;
	margin-top: 2rem;
}

.border_form_contact {
	padding-right: 5rem;
	border-right: 1px solid #c1c9d2;
}

.h2_contact {
	font-size: 1.7rem;
	color: #363F46;
	font-weight: bold;
}

.dot_contact {
	margin-top: 0.3rem;
	margin-left: 1rem;
	margin-bottom: 2rem;
	height: 1.4rem;
	width: 1.4rem;
	background: #904EAD;
	border-radius: 50%;
}

.biglogo_contact {
	width: 35rem;
}

/* card persona show */
.persona_form {
	margin-top: 2rem;
	background-color: white;
}

.persona_card_description {
	background-color: #white;
	color: #576366;
}

.jumbotron_persona {
	background-color: #904EAD;
	color: white;
	padding: 1.7rem 0 1.5rem 0;
	margin-top: 4.2rem;
	margin-bottom: 0;
	background-image: url("../images/clouds.png"),
		linear-gradient(to bottom, #9250af 0%, #904EAD 100%);
	background-repeat: no-repeat;
	background-clip: border-box;
	background-origin: border-box;
	background-position: right 35% top 15%;
	background-image: url("../images/clouds.png"),
		linear-gradient(to bottom, #9250af 0%, #904EAD 100%);
}

.doc {
	margin-bottom: 4rem;
}

.jumbotron_doc {
	background-color: #904EAD;
	color: white;
	margin-top: 4rem;
}

.btn_persona_card {
	background-color: white;
	border-color: #904EAD;
	color: #904EAD;
	white-space: normal;
	transition-duration: 0.2s;
}

a.btn_persona_card:hover {
	color: white;
	background-color: #904EAD;
	transform: translateY(-5px);
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0
		rgba(0, 0, 0, 0.19);
}

.img_persona_name {
	width: 3rem;
	height: auto;
	display: block;
}

/* author style */
.style_p_author {
	font-family: Montserrat-Regular;
	color: #576366;
}

.card_avatar {
	position: relative;
	margin-top: 5rem;
}

.card_avatar_title {
	margin-top: 5rem;
	font-weight: bold;
}

.author_card {
	margin-top: 7rem;
	margin-bottom: 4rem;
	box-shadow: 1px 1px 1px #E4E4E4;
}

.img_avatar {
	position: absolute;
	top: -6rem;
	left: 38%;
	border-radius: 9999px;
	border: 5px solid #FFF;
	box-shadow: 0 1px 1px #E4E4E4;
	width: 133px;
	height: 133px;
}

/* Legal Notices*/
.legal_notices {
	color: #576366;
	line-height: 1.7;
	font-size: 1.1rem;
}

.legal_h2 {
	font-size: 1.5rem;
	color: #EE9236;
	font-weight: bold;
	margin: 2rem 0 1rem 0;
}

/* Cgv */
.cgv {
	color: #576366;
	line-height: 1.7;
	font-size: 1.1rem;
}

.cgv_h2 {
	font-size: 1.5rem;
	color: #904EAD;
	font-weight: bold;
	color: #904EAD;
}

.cgv_h3 {
	font-size: 1.3rem;
	color: #EE9236;
	font-weight: bold;
	margin: 2rem 0 1rem 0;
}

/* Software */
.jumbotron_software {
background-color: #EE9236;
	color: white;
		padding: 1rem 0 1rem 0;
	margin-top: 4.2rem;
	margin-bottom: 0;
	background-image: url("../images/clouds.png"),
		linear-gradient(to bottom, #EE9236 0%, #EE9236 100%);
	background-repeat: no-repeat;
	background-clip: border-box;
	background-origin: border-box;
	background-position: right 35% top 15%;
	}

.jumbotron_software img {
	height: 4rem;
}

.section_carousel {
	background-color: white;
}

.section_carousel p {
	color: #576366;
}

.carousel-inner>.carousel-item>img {
	max-width: 40rem;
	max-height: 35rem;
	margin: 0 1rem 1rem 1rem;
	border: 1px solid  #EE9236;
}


.persona_software {
	background-color: #904EAD;
	height: 14rem;
	color: white;
	font-size: 2rem;
	padding-top: 5.5rem;
}

.thead_style {
	color: #EE9236;
	background-color: white;
}

.tbody_style {
	background-color: white;
}

.table-bordered {
	text-align: center;

}

.software_table {
	background-color: #EE9236;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.fa-check {
	color: green;
}

.fa-times {
	color: red;
}


