{% extends 'base.html.twig' %}

{% block body %}
    <h1>Partners list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Url</th>
                <th>Partnername</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for partner in partners %}
            <tr>
                <td><a href="{{ path('partner_show', { 'id': partner.id }) }}">{{ partner.id }}</a></td>
                <td>{{ partner.name }}</td>
                <td>{{ partner.url }}</td>
                <td>{{ partner.partnerName }}</td>
                <td>{% if partner.updatedAt %}{{ partner.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('partner_show', { 'id': partner.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('partner_edit', { 'id': partner.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('partner_new') }}">Create a new partner</a>
        </li>
    </ul>
{% endblock %}
