{% extends 'base.html.twig' %}

{% block body %}
    <h1>Partner</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ partner.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ partner.name }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ partner.url }}</td>
            </tr>
            <tr>
                <th>Partnername</th>
                <td>{{ partner.partnerName }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if partner.updatedAt %}{{ partner.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('partner_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('partner_edit', { 'id': partner.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
