{% extends '@LFShowCase/base.html.twig' %}


{% block body %}

	<div class="jumbotron jumbotron-fluid jumbotron_persona">
		<div class="container">
			<div class="row">
				<div class="col">
					<h1 class="display-5">Le Blog</h1>
				</div>
			</div>
		</div>
	</div>

	<div class="container mt-5">
		<div class="row mb-5">

			{% for blog in blogs %}

				<div class="col-lg-2">
					<aside>
						<p><small>{% if blog.date %} {{ blog.date|localizeddate('long', 'none') }} {% endif %}</small></p>
						<p>{{ blog.category }}</p>

						<p> {{blog.tag}}</p>
					</aside>
				</div>

				<div class="col-lg-10 ">
					<a href="{{ path('blog_show', {'id': blog.id }) }}"><h2>{{ blog.title }}</h2></a>
					<p>{{ blog.content | truncate(100) | raw }}</p>
				</div>

			{% endfor %}
		</div>
	</div>

{% endblock %}
