{% extends '@LFShowCase/base.html.twig' %}

{% block body %}
    <h1>Blogs list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Date</th>
                <th>Author</th>
                <th>Category</th>
                <th>Blogname</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for blog in blogs %}
            <tr>
                <td><a href="{{ path('blog_show', { 'id': blog.id }) }}">{{ blog.id }}</a></td>
                <td>{{ blog.title }}</td>
                <td>{{ blog.content }}</td>
                <td>{% if blog.date %}{{ blog.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ blog.author }}</td>
                <td>{{ blog.category }}</td>
                <td>{{ blog.blogName }}</td>
                <td>{% if blog.updatedAt %}{{ blog.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('blog_show', { 'id': blog.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('blog_edit', { 'id': blog.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('blog_new') }}">Create a new blog</a>
        </li>
    </ul>
{% endblock %}
