{% extends '@LFShowCase/base.html.twig' %}

{% block body %}
    <div class="jumbotron jumbotron-fluid jumbotron_persona">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="display-5">Le Blog</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">


            <h2>{{ blog.title }}</h2>

            <p>{{ blog.content | raw }}</p>



            <div class="col-lg-4">{{ blog.category }}</div>
        </div>

        <div class="row">
            <div class="col">
                {{ blog.author }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if blog.date %}{{ blog.date|date('d-m-Y H:i:s') }}{% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img src="{{ asset('uploads/blog/' ~  blog.blogName) }}" alt="Image illustration blog" width="800" height="auto" class="img-fluid">
                </div>

            </div>

            <div class="row">
                <div class="col">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input type="submit" value="Create" />
                    {{ form_end(form) }}
                </div>
            </div>


            {% if comments %}
                <div class="row">
                  {% for comment in comments %}

                    <div class="col-lg-12">
                        <h3>
                            {{ comment.name }}
                        </h3>

                        <p>{{ comment.website }}</p>

                        <p>{{ comment.feedback }}</p>


                        <p> {{ comment.date | date }}</p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
