{% extends '@LFShowCase/base.html.twig' %}

{% block body %}
    <h1>Softwares list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Link</th>
                <th>Descriptive</th>
                <th>Courses</th>
                <th>Certification</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for software in softwares %}
            <tr>
                <td><a href="{{ path('software_show', { 'id': software.id }) }}">{{ software.id }}</a></td>
                <td>{{ software.name }}</td>
                <td>{{ software.link }}</td>
                <td>{{ software.descriptive }}</td>
                <td>{{ software.courses }}</td>
                <td>{% if software.certification %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('software_show', { 'id': software.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('software_edit', { 'id': software.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('software_new') }}">Create a new software</a>
        </li>
    </ul>
{% endblock %}
