{% extends '@LFShowCase/base.html.twig' %}

{% block title %}
	Live-Formation |
	{{ software.name | title }}
{% endblock %}

{%  block body %}
<div class="jumbotron jumbotron-fluid jumbotron_software">
	<div class="container">
		<div class="row">
			<div class="col-3 col-lg-1">
				<img src="{{ asset('uploads/software/' ~ software.softwareName) }}"
				alt="Logo logiciel" />
			</div>
			<div class="col-9 col-lg-11 pt-3">
				<h1 class="display-5">
					{{ software.name }}
				</h1>
			</div>
		</div>
	</div>
</div>

<section class="section_carousel">
	<div class="container">
		<div class="row pt-5 pb-5">
			<div class="col courses">
				<p>
					<div id="carouselExampleControls" class="carousel slide float-right d-none d-sm-block"
					data-ride="carousel">
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img class="d-block w-100 img-fluid"
							src="{{ asset('assets/images/screen-forum.jpg') }}"
							alt="First slide">
						</div>
						<div class="carousel-item">
							<img class="d-block w-100 img-fluid"
							src="{{ asset('assets/images/screen-forum.jpg') }}"
							alt="Second slide">
						</div>
						<div class="carousel-item">
							<img class="d-block w-100 img-fluid"
							src="{{ asset('assets/images/screen-forum.jpg') }}"
							alt="Third slide">
						</div>
					</div>
					<a class="carousel-control-prev" href="#carouselExampleControls"
					role="button" data-slide="prev"> <span
					class="carousel-control-prev-icon" aria-hidden="true"></span> <span
					class="sr-only">Previous</span>
				</a> <a class="carousel-control-next" href="#carouselExampleControls"
				role="button" data-slide="next"> <span
				class="carousel-control-next-icon" aria-hidden="true"></span> <span
				class="sr-only">Next</span>
			</a>
		</div>
		{{ software.descriptive |raw }}
	</p>
</div>
</div>
</div>
</section>

<section class="software_table">
	<div class="container">
		<div class="row">
			<div class="col-11">
				<div class="table-responsive">
					<table class="table  table-bordered table-hover">
						<thead class="thead_style">
							<tr>
								<th scope="col">Logiciel</th>
								<th scope="col">Téléchargement</th>
								<th scope="col">Certifications</th>
							</tr>
						</thead>
						<tbody class="tbody_style">
							{% for course in software.courses  %}
								<tr>
									<td>{{ course.name }}</td>
									<td><button>pdf</button></td>
									<td>{{ (course.certification) ? '<span class="fas fa-check"></span>' : '<span class="fas fa-times"></span>' }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>


	<div class="container">
		<div class="row justify-content-center mt-3 mb-3">
			{% for soft in softwares if soft != software%}
			<div class="col-4 col-lg-2 logo-logiciel" title="{{ soft.name }}">
				<a href="{{ path('software_show', {'id': soft.id}) }}"><img
					class="icon_software_bandeau"
					src="{{ asset('uploads/software/' ~ soft.softwareName) }}" alt="" />
				</a>
			</div>
		{% endfor %}
	</div>

	<hr />

	<div class="row text-center mt-5">
		{% for persona in personas if persona.active %}
			<div class="col-lg-3">
				<a href="{{ path('persona_show', {'id': persona.id})}}"
				class="persona_card_home card mb-4 ">
				<div class="card_persona_color"
				title="Je suis {{ persona.role | lower }}">
				<div class="view overlay">
					<img class="card-img text-center" style="width: 5rem;"
					src="{{ asset('uploads/persona/' ~ persona.personaName) }}"
					alt="Card image" />
				</div>
				<div class="card-body ">
					<h4 class="card-title">
						{{ persona.role }}
					</h4>
				</div>
			</div>
		</a>
	</div>
{% endfor %}
</div>
</div>
</section>

{% endblock %}
