
<footer>
	<div class="container ">
		<div class="row pt-4 pb-4">
			<div class="col-lg-12 text-center">
				<ul class="ul_footer">
					<li class="pb-3"><img src="/assets/images/logofooter.png"
						alt="Logo Live-Formation" /></li>
						<li>© 2018 Live-Formation. Tous droits réservés.</li>
						<li>51 rue de Curembourg, 45400 Fleury-les-Aubrais.</li>
						<li> Tel: 09 86
							71 35 56</li>
							<li>
								<a href="{{ path('author_show') }}">Qui sommes-nous</a> •
								<a href="{{ path('conditionsofsale_show') }}">CGV</a> •
								<a href="{{ path('legalnotice_show') }}">Mentions</a> •
								<a href="{{ path('home_blog') }}">Blog</a> •
								<a href="{{ path('form') }}">Contact</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</footer>

