<nav class="navbar navbar-expand-lg fixed-top navbar-light">
	<div class="container">
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<a class="navbar-brand" href="{{ path('home') }}"> <img
			src="/assets/images/logo.png" alt="liveFormation Logo"
			class="img-nav"></a>

		<div class="collapse navbar-collapse justify-content-end"
			id="navbarSupportedContent">

			<ul class="navbar-nav">
				<li class="nav-item active"><a class="nav-link"
					href="{{ path('home') }}">E-learning Bureautique <span
						class="sr-only">(current)</span>
				</a></li>


				<li class="nav-item dropdown"><a id="autoclic"
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false">Logiciels </a>

					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						{{ render(controller(
        'LFShowCaseBundle:Software:embedForDropdown')) }}
					</div></li>
				<li class="nav-item"><a class="nav-link"
					href="{{ path('home_blog')}}">Blog</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Connexion</a></li>
				<li class="nav-item"><a class="nav-link"
					href="{{ path('form') }}">Contactez-nous</a></li>
				<li class="nav-item link_test"><a class="nav-link" href="#">Test
						gratuit</a></li>
			</ul>
		</div>
	</div>
</nav>


