{% extends '@LFShowCase/base.html.twig' %}

{% block body %}
    <h1>Legalnotices list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for legalNotice in legalNotices %}
            <tr>
                <td><a href="{{ path('legalnotice_show', { 'id': legalNotice.id }) }}">{{ legalNotice.id }}</a></td>
                <td>{{ legalNotice.content }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('legalnotice_show', { 'id': legalNotice.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('legalnotice_edit', { 'id': legalNotice.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('legalnotice_new') }}">Create a new legalNotice</a>
        </li>
    </ul>
{% endblock %}
