{% extends '@LFShowCase/base.html.twig' %}

{% block title %}
Live-Formation | Mentions légales
{% endblock %}

{% block body %}
<section class="legal_notices">
	<div class="jumbotron jumbotron-fluid jumbotron_persona">
		<div class="container">
			<h1 class="display-6">Mentions légales</h1>
		</div>
	</div>

	<div class="container legal_style mb-5">
		<div class="row">
			<div class="col">{{ legalNotice.content | raw }}</div>
		</div>
	</div>
</section>

{% endblock %}
