{% extends '@LFShowCase/base.html.twig' %}

{% block body %}
<h1>Personas list</h1>

<table>
	<thead>
		<tr>
			<th>Id</th>
			<th>Role</th>
			<th>Description</th>
			<th>Documents</th>
			<th>ContactButton</th>
			<th>RegistrationButton</th>
			<th>Active</th>
			<th>Language</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for persona in personas %}
		<tr>
			<td><a href="{{ path('persona_show', { 'id': persona.id }) }}">{{ persona.id }}</a></td>
			<td>{{ persona.role }}</td>
			<td>{{ persona.descriptionContact }}</td>
			<td>{{ persona.descriptionRegistration }}</td>
			<td>{% if persona.documents %}
				{{ persona.documents|join(', ') }}
				{% endif %}</td>
			<td>{% if persona.contactButton %}
				{{ persona.contactButton|join(', ') }}
				{% endif %}</td>
			<td>{% if persona.registrationButton %}
				{{ persona.registrationButton|join(', ') }}
				{% endif %}</td>

			<td>{% if persona.active %}Yes{% else %}No{% endif %}</td>
			<td>
				<ul>
					<li><a href="{{ path('persona_show', { 'id': persona.id }) }}">show</a>
					</li>
					<li><a href="{{ path('persona_edit', { 'id': persona.id }) }}">edit</a>
					</li>
				</ul>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<ul>
	<li><a href="{{ path('persona_new') }}">Create a new persona</a></li>
</ul>
{% endblock %}
