{% extends '@LFShowCase/base.html.twig' %}

{% block title %}
Live-Formation fiche
{% endblock %}

{% block body %}

<section class="persona_form">
	<div class="jumbotron jumbotron-fluid jumbotron_persona">
		<div class="container">
			<div class="row">
				<div class="col-lg-1">
					<img class="card-img img_persona_name"
						src="{{ asset('uploads/persona/' ~ persona.personaName) }}"
						alt="Card image" />
				</div>
				<div class="col-lg-11">
					<h1 class="display-5">
						{{ persona.role|raw }}
					</h1>
				</div>
			</div>
		</div>
	</div>

	<div class="container pt-5">

		{% if persona.registrationButton%}
		<div class="row mb-4">
			<div class="col-lg-6">
				<div class="card border-0 persona_card_description">
					<div class="card-body">
						<h1 class="card-title"></h1>
						<p class="card-text">
							{{ persona.descriptionRegistration|raw }}
						</p>
						<p class="text-center">
							<a class="btn btn-outline-light btn-lg btn_persona_card" href="#"
								role="button">Inscrivez-vous</a>
						</p>
					</div>
				</div>
			</div>

			<div class="col-lg-6">
				<div class="card pt-4">
					<img class="card-img"
						src="{{ asset('uploads/registration/' ~ persona.registrationName) }}"
						alt="Card image" />
				</div>
			</div>
		</div>
		{% endif %}



		{% if persona.contactButton %}
		<div class="row mb-5">
			<div class="col-lg-6">
				<div class="card pt-4 border-0">
					<img class="card-img"
						src="{{ asset('uploads/contact/' ~ persona.contactName) }}"
						alt="image d'illustration" />
				</div>
			</div>
			<div class="col-lg-6">
				<div class="card border-0 persona_card_description">
					<div class="card-body">
						<h2 class="card-title"></h2>
						<p class="card-text">
							{{ persona.descriptionContact|raw }}
						</p>
						<p class="text-center">
							<a class="btn btn-outline-light btn-lg btn_persona_card"
								href="{{ path('form') }}" role="button">Contactez-nous</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		{% endif %}

	</div>
</section>

<section class="doc text-center">
	<div class="jumbotron jumbotron-fluid jumbotron_doc pt-4 pb-4">
		<h1 class="display-5">Nos logiciels</h1>
	</div>
	<div class="container">
		<div class="row justify-content-center">
			{% for software in softwares %}
			<div class="col-lg-2 logo-logiciel">
				<a href="{{ path('software_show', {'id': software.id} ) }}"><img
					src="{{ asset('uploads/software/' ~ software.softwareName) }}"
					alt="logologiciel" title="{{ software.name }}" /></a>
			</div>
			{% endfor %}
		</div>
	</div>
</section>



{% endblock %}
