{% extends '@LFShowCase/base.html.twig' %}

{% block header %} {% endblock %}

  {% block title %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {% block fos_user_content %}
            {% endblock fos_user_content %}
            </div>
        </div>
    </div>
{% endblock %}

{%  block footer %} {% endblock %}
