{% extends '@LFShowCase/base.html.twig' %}

{% block body %}
    <h1>Welcomings list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Presentation</th>
                <th>Titlesoftware</th>
                <th>Titlepersona</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for welcoming in welcomings %}
            <tr>
                <td><a href="{{ path('welcoming_show', { 'id': welcoming.id }) }}">{{ welcoming.id }}</a></td>
                <td>{{ welcoming.presentation }}</td>
                <td>{{ welcoming.titleSoftware }}</td>
                <td>{{ welcoming.titlePersona }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('welcoming_show', { 'id': welcoming.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('welcoming_edit', { 'id': welcoming.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('welcoming_new') }}">Create a new welcoming</a>
        </li>
    </ul>
{% endblock %}
