{% extends '@LFShowCase/base.html.twig' %}

{% block body %}
    <h1>Welcoming</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ welcoming.id }}</td>
            </tr>
            <tr>
                <th>Presentation</th>
                <td>{{ welcoming.presentation }}</td>
            </tr>
            <tr>
                <th>Titlesoftware</th>
                <td>{{ welcoming.titleSoftware }}</td>
            </tr>
            <tr>
                <th>Titlepersona</th>
                <td>{{ welcoming.titlePersona }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('welcoming_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('welcoming_edit', { 'id': welcoming.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
