{% extends '@LFShowCase/base.html.twig' %}

{% block title %}
Live-Formation Contact
{% endblock %}

{% block body %}
<section class="contact_form">
	<div class="jumbotron jumbotron-fluid jumbotron_persona">
		<div class="container">
			<h1 class="display-6">Contactez-nous</h1>
		</div>
	</div>

	<div class="container">
		<div class=" row pt-4">
			<div class="col-lg-7 border_form_contact">
				<div class="row">
						<div class="dot_contact"></div>
						<h2 class="col-10 h2_contact">Formulaire de contact</h2>
				</div>
				<div class="card border-0">
					{{ form_start(form) }}
					{{ form_widget(form) }}
					 <input type="submit" value="Envoyer" />
					{{ form_end(form) }}
				</div>
			</div>

			<div class="col-lg-5 text-center">
				<div class="card border-0">
					<div class="card-body">
						<h2 class="card-title">Où sommes-nous?</h2>
						<h3 class="card-subtitle">Live-Formation</h3>
						<p class="card-text">
							51, rue de Curembourg <br /> 45400 Fleury-les-Aubrais
						</p>
						<p>E contact@live-formation.com</p>
						<p>T 09 86 71 35 56</p>

						<h2>Suivez-Nous</h2>
						<a href="https://www.facebook.com/liveformation"
							class="facebook social"><img
							src="/assets/images/facebook_black.svg"
							alt="Logo lien vers la  page Facebook Live-Formation" /></a>
					</div>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-lg-12" class="googlemap">
				<iframe
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21390.595697046625!2d1.9070921220280042!3d47.92043388457529!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e4fb744b791731%3A0x9ff601a461c1d63!2sLive-Formation!5e0!3m2!1sfr!2sfr!4v1494425272838"
					width="100%" height="450px" frameborder="0" style="border: 0"
					allowfullscreen></iframe>
			</div>
		</div>
	</div>
</section>
{% endblock %}
