{% extends '@LFShowCase/base.html.twig' %}

{% block title %}
	Live-Formation | Accueil
{% endblock %}


{% block body %}
	<section class="presentation">
		<div class="container">
			<div class="row">
				<div class="col">
					<p>
						<div class="float-right youtube embed-responsive embed-responsive-16by9">
							<iframe width="560" height="349" class="embed-responsive-item"
							src="https://www.youtube.com/embed/yfcZOUT2_yg?" allowfullscreen></iframe>
						</div>
						{{ welcoming.presentation | raw }}
					</p>

				</div>
			</div>

		</div>
	</section>

	<section class="logiciel logo">
		<div class="container">
			<div class="row text-center pt-5">
				<div class="col pb-3">
					<h2>
						{{ welcoming.titleSoftware | raw }}
					</h2>
				</div>
			</div>
			<div class="row justify-content-center text-center pb-3">
				{% for software in softwares %}
					<div class="col-6 col-lg-2 logo-logiciel">
						<a href=" {{ path('software_show', {'id': software.id} ) }}"> <img
							src="{{ asset('uploads/software/' ~ software.softwareName) }}"
							alt="logo logiciel" title="{{ software.name }}"></a>
						</div>
					{% endfor %}
				</div>
			</div>
		</section>

		<hr />

		<section class="persona">
			<div class="container">
				<div class="d-flex flex-row justify-content-center mb-3">
					<div class="col-lg-12 text-center pb-3 ">
						<h2>
							{{ welcoming.titlePersona | raw }}
						</div>
					</div>

					<div class="row text-center">
						{% for persona in personas if persona.active %}
							<div class="col-lg-3">
								<a href="{{ path('persona_show', {'id': persona.id})}}"
								class="persona_card_home card mb-4 ">
								<div class="card_persona_color" title="Je suis {{ persona.role }}">
									<div class="view overlay">
										<img class="card-img text-center" style="width: 5rem;"
										src="{{ asset('uploads/persona/' ~ persona.personaName) }}"
										alt="Card image" />
									</div>
									<div class="card-body ">
										<h4 class="card-title">
											{{ persona.role }}
										</h4>
									</div>
								</div>
							</a>
						</div>
					{% endfor %}
				</div>
			</div>
		</section>

		<section class="avantages">
			<div class="container">
				<div class="row justify-content-center align-items-stretch">
					<div class="col-lg-3">
						<div class="text-center">
							<?xml version="1.0" encoding="utf-8"?>
							<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
							<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							width="80" height="80" viewBox="0 0 24 24" fill="white"
							enable-background="new 0 0 24 24" xml:space="preserve"> <path
							d="M13,21v-4v-6.9l2,7.3l1,3.9c0.1,0.4,0.5,0.7,1,0.7c0.1,0,0.2,0,0.3,0l4.8-1.3c0.5-0.1,0.9-0.7,0.7-1.2l-1-3.9L18.1,2.1
							c-0.1-0.5-0.7-0.9-1.2-0.7l-4.1,1.1C12.6,2.2,12.3,2,12,2H7H2C1.4,2,1,2.4,1,3v14v4c0,0.6,0.4,1,1,1h5h5C12.6,22,13,21.6,13,21z
							M17.7,19.8l-0.5-1.9l1.4-0.4l1.4-0.4l0.5,1.9L17.7,19.8z M16.4,3.5l3.1,11.6l-1.4,0.4l-1.4,0.4L13.5,4.3L16.4,3.5z M11,16H8V4h3V16
							z M3,4h3v12H3V4z M3,18h3v2H3V18z M11,20H8v-2h3V20z" /> </svg>
						</div>
						<h3>Notre Pédagogie à votre Service</h3>

						<p>Quel que soit votre niveau obtenez des réponses à vos
							questions avec l’aide de nos formateurs experts, notre forum
							communautaire et notre bibliothèque (fiches de synthèses,
							exercices, astuces).</p>
						</div>

						<div class="col-lg-3">
							<div class="text-center">
								<?xml version="1.0" encoding="utf-8"?>
								<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
								<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
								xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								width="80" height="80" viewBox="0 0 24 24" fill="white"
								enable-background="new 0 0 24 24" xml:space="preserve"> <path
								d="M3,18.031c0-0.859,0.541-1.619,1.345-1.891C5.887,15.62,8.292,15,11,15c3.379,0,6-3.763,6-7V7c0-3.309-2.691-6-6-6
								S5,3.691,5,7v1c0,1.884,0.891,3.941,2.299,5.335c-1.42,0.248-2.657,0.595-3.594,0.911C2.087,14.792,1,16.313,1,18.031V23h11v-2H3
								V18.031z M7,8V7c0-2.206,1.794-4,4-4s4,1.794,4,4v1c0,2.251-1.846,5-4,5S7,10.251,7,8z" /> <polygon
								points="20.545,16.131 19,13 17.455,16.131 14,16.633 16.5,19.07 15.91,22.511 19,20.886 22.09,22.511 21.5,19.07
								24,16.633 " /> </svg>
							</div>


							<h3>Votre Espace Personnalisé</h3>
							<p>Selon vos besoins mettez en favoris les fiches, exercices,
								astuces, sujets de forum ou recherches, dans votre boîte à outils
								personnelle présente sur toutes les pages.</p>
							</div>

							<div class="col-lg-3">
								<div class="text-center">
									<?xml version="1.0" encoding="utf-8"?>
									<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
									<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
									xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									width="80" height="80" viewBox="0 0 24 24" fill="white"
									enable-background="new 0 0 24 24" xml:space="preserve">
									<title>tricycle</title><path
									d="M19.79,10.43V7.56a.93.93,0,0,0,0-1.85H17.25a.93.93,0,1,0,0,1.85h.69v2.87a5,5,0,0,0-1,.29,11.93,11.93,0,0,0-3-2.06A13.28,13.28,0,0,0,6,7.57V4.63H7.31a.93.93,0,1,0,0-1.85H5.06a.93.93,0,0,0-.93.93v6.73a5.06,5.06,0,1,0,1.85,0v-1a11.37,11.37,0,0,1,7.11.88,10.17,10.17,0,0,1,2.23,1.44,5.06,5.06,0,1,0,4.46-1.35Zm-11.52,5A3.21,3.21,0,1,1,5.06,12.2,3.21,3.21,0,0,1,8.27,15.41Zm10.59,3.21a3.21,3.21,0,0,1-2.25-5.49A8.71,8.71,0,0,1,18,15.7a.93.93,0,1,0,1.76-.59,10.62,10.62,0,0,0-1.46-2.86,3.21,3.21,0,1,1,.58,6.36Z"
									transform="translate(0 -2.78)" /></svg>
								</div>
								<h3>Un apprentissage à votre rythme</h3>
								<p>Bénéficiez d’une Formation complète disponible en illimité
									sur 3 mois et d’un Accompagnement pouvant aller jusqu’à 1 an.</p>
								</div>

								<div class="col-lg-3">
									<div class="text-center">

										<?xml version="1.0" encoding="utf-8"?>
										<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
										<svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg"
										xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
										width="80" height="80" viewBox="0 0 24 24" fill="white"
										enable-background="new 0 0 24 24" xml:space="preserve"> <path
										d="M19.2,11.1c0.3-0.7,1-1.1,1.8-1.1c0.6,0,1-0.4,1-1s-0.4-1-1-1c-1.9,0-3.5,1.3-3.9,3.1c-0.6,0.1-1.3,0.3-1.8,0.6
										c-0.1-0.1-0.1-0.3-0.2-0.4C15.4,8.3,18,6,21,6c0.6,0,1-0.4,1-1s-0.4-1-1-1c-3.4,0-6.4,2.2-7.5,5.2C13,8.7,12.4,8.3,11.8,8
										C13.4,4.4,17,2,21,2c0.6,0,1-0.4,1-1s-0.4-1-1-1c-4.8,0-9.2,2.9-11,7.3C9.3,7.1,8.7,7,8,7c-4.4,0-8,3.6-8,8s3.6,8,8,8h10
										c3.3,0,6-2.7,6-6C24,14.1,21.9,11.7,19.2,11.1z M18,21H8c-3.3,0-6-2.7-6-6s2.7-6,6-6c2.7,0,5.1,1.8,5.8,4.5c0.1,0.3,0.3,0.6,0.7,0.7
										c0.3,0.1,0.7,0,0.9-0.2c0.7-0.6,1.6-1,2.6-1c2.2,0,4,1.8,4,4S20.2,21,18,21z" /> </svg>
									</div>
									<h3>Une connectivité simplissime</h3>
									<p>Nos formations sont accessibles en version Cloud et sans
										nécessité de la présence du logiciel sur votre ordinateur. Une
										simple connexion internet suffit !</p>
									</div>
								</div>

								<div class="row pt-5 text-center">
									<div class="col-lg-12">
										<a class="btn btn-outline-light btn-lg btn-test" href="#"
										role="button">Pour tester gratuitement nos services Cliquez ici</a>
									</div>
								</div>
							</div>
						</section>

						<div class="row pt-3">
							<div class="col text-center">
								<h2>{{welcoming.titlePartner |raw}}</h2>
							</div>
						</div>

						<div class="row justify-content-center">
							{% for partner in partners %}
								<div class="col-6 col-lg-1 logo_partner">
									<a href="{{ partner.url }}" target="blank"><img src="{{asset('uploads/partner/' ~ partner.partnerName ) }}"
									alt="logo des partenaires" title="{{ partner.name }}" /></a>
								</div>
							{% endfor %}
						</div>
					</div>
				{% endblock %}





