{% extends '@LFShowCase/base.html.twig' %}

{%  block body %}
<div class="jumbotron jumbotron-fluid jumbotron_software">
	<div class="container">
		<h1 class="display-6">Excel</h1>
	</div>
</div>
<div class="container">
	<div class="row mt-5 pt-5 mb-5">
		<div class="col-lg-5 courses">Texte Presentation</div>

		<div class="col-lg-7 ">
			<div id="carouselExampleControls" class="carousel slide"
				data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img class="d-block w-100 img-fluid"
							src="{{ asset('assets/images/screen-forum.jpg') }}"
							alt="First slide">
					</div>
					<div class="carousel-item">
						<img class="d-block w-100 img-fluid"
							src="{{ asset('assets/images/screen-forum.jpg') }}"
							alt="Second slide">
					</div>
					<div class="carousel-item">
						<img class="d-block w-100 img-fluid"
							src="{{ asset('assets/images/screen-forum.jpg') }}"
							alt="Third slide">
					</div>
				</div>
				<a class="carousel-control-prev" href="#carouselExampleControls"
					role="button" data-slide="prev"> <span
					class="carousel-control-prev-icon" aria-hidden="true"></span> <span
					class="sr-only">Previous</span>
				</a> <a class="carousel-control-next" href="#carouselExampleControls"
					role="button" data-slide="next"> <span
					class="carousel-control-next-icon" aria-hidden="true"></span> <span
					class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</div>
	<div class="row mb-5">
		<div class="col">
			<table class="table  table-bordered">
				<thead class="thead_style">
					<tr>
						<th scope="col">Cours</th>
						<th scope="col">Téléchargement</th>
						<th scope="col">Certification</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						
						<td>Excel 2013</td>
						<td><button>Pdf</button></td>
						<td><i class="fas fa-check"></i></td>
					</tr>
					<tr>
						
						<td>Excel 2017</td>
						<td><button>pdf</button></td>
						<td><i class="fas fa-times"></i></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="row mb-5">
		<div class="col icon_software">
			<div class="row justify-content-md-center">
				<div class="col-lg-2">
					<img class="icon_software_bandeau"
						src="/assets/images/Access-2.png" alt="" />
				</div>
				<div class="col-lg-2">
					<img class="icon_software_bandeau" src="/assets/images/Office.png"
						alt="" />
				</div>
				<div class="col-lg-2">
					<img class="icon_software_bandeau"
						src="/assets/images/Powerpoint-2.png" alt="" />
				</div>
				<div class="col-lg-2">
					<img class="icon_software_bandeau"
						src="/assets/images/Logo_Microsoft_Excel_2013.png" alt="" />
				</div>
			</div>
		</div>

	</div>
</div>

<div class="container-fluid">
	<div class="row mb-5">

		<div class="col-lg-12 persona_software text-center">
			bandeau des persona <br /> <br />
		</div>

	</div>
</div>


{% endblock %}