{% extends '@LFShowCase/base.html.twig' %}

{% block body %}
    <h1>Authors list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Presentation</th>
                <th>Textone</th>
                <th>Texttwo</th>
                <th>Cvone</th>
                <th>Cvtwo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <td><a href="{{ path('author_show', { 'id': author.id }) }}">{{ author.id }}</a></td>
                <td>{{ author.presentation }}</td>
                <td>{{ author.textOne }}</td>
                <td>{{ author.textTwo }}</td>
                <td>{{ author.cvOne }}</td>
                <td>{{ author.cvTwo }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('author_show', { 'id': author.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('author_edit', { 'id': author.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('author_new') }}">Create a new author</a>
        </li>
    </ul>
{% endblock %}
