{% extends '@LFShowCase/base.html.twig' %}

{% block title %}
Live-Formation | Qui sommes-nous?
{% endblock %}

{% block body %}

<section class="author">
	<div class="jumbotron jumbotron-fluid jumbotron_persona">
		<div class="container">
			<h1 class="display-6">Qui sommes-nous ?</h1>
		</div>
	</div>

	<div class="container style_p_author">
		<div class="row">
			<div class="col-lg-12">
				<div class="card border-0">
					<div class="card-body">
						{{ author.presentation|raw }}
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-8 mx-auto mb-5">
				<img src="/assets/images/biglogo.png" alt="logo Live Formation"
					class="biglogo_contact img-fluid" />
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6">
				<div class="card border-0">
					<div class="card-body">
						{{ author.textOne | raw }}
					</div>
				</div>
			</div>



			<div class="col-lg-6">
				<div class="card border-0">
					<div class="card-body">
						{{ author.textTwo | raw }}
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6">
				<div class="card author_card">
					<img class="img_avatar" width="133" height="133"
						src="{{ asset('uploads/avatar/' ~ author.avatarOneName) }}"
						alt="avatar cv gauche" class="img-fluid"/>
					<h3 class="card-title text-center card_avatar_title">Sébastien</h3>
					<div class="card-body pt-3">
						{{ author.cvOne | raw }}
					</div>
				</div>
			</div>

			<div class="col-lg-6">
				<div class="card author_card">
					<img class="img_avatar" width="133" height="133"
						src="{{ asset('uploads/avatar/' ~ author.avatarTwoName) }}"
						alt="avatar cv droit" />
					<h3 class="card-title text-center card_avatar_title">Armel</h3>
					<div class="card-body pt-3">
						{{ author.cvTwo | raw }}
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}