{% extends '@LFShowCase/base.html.twig' %}

{% block body %}
    <h1>Conditionsofsales list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for conditionsOfSale in conditionsOfSales %}
            <tr>
                <td><a href="{{ path('conditionsofsale_show', { 'id': conditionsOfSale.id }) }}">{{ conditionsOfSale.id }}</a></td>
                <td>{{ conditionsOfSale.content }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('conditionsofsale_show', { 'id': conditionsOfSale.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('conditionsofsale_edit', { 'id': conditionsOfSale.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('conditionsofsale_new') }}">Create a new conditionsOfSale</a>
        </li>
    </ul>
{% endblock %}
