{% extends '@LFShowCase/base.html.twig' %}

{% block title %}
Live-Formation | Conditions générales de vente
{% endblock %}

{% block body %}
<section class="cgv">
	<div class="jumbotron jumbotron-fluid jumbotron_persona">
		<div class="container">
			<h1 class="display-6">Conditions générales de vente</h1>
		</div>
	</div>

	<div class="container legal_style">
		<div class="row mt-5">
			<div class="col">{{ conditionsOfSale.content | raw }}</div>
		</div>
	</div>
</section>

{% endblock %}
